<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Appointments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<style>
    .calendar {
        width: 85%;
        font-size: 13px;
        margin: 15px auto auto;
    }

    .calendar tr, .calendar td {
        border: 1px solid black;
    }

    .calendar th {
        padding: 10px;
        text-align: center;
        font-size: 18px;
    }

    .calendar td {
        width: 150px;
        height: 150px;
        padding: 20px 0 0 5px;
    }

    .month {
        font-size: 25px;
    }

    .date {
        font-size: 16px;
    }

    ul {
        height: 100%;
        padding: 0 5px 0 20px;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .clearfix {
        margin: 15px;
    }

</style>
<body>
{% include "nav_bars/logged_in_nav_bar.html" %}
{% block content %}
    <div class="clearfix">
        <a class="btn btn-outline-success left" style="margin-left: 7%"
           href="{% url 'EHMSAPP:calendar' username=username month=prev_month %}"> Previous Month </a>
        <a class="btn btn-outline-success right" style="margin-right: 7%"
           href="{% url 'EHMSAPP:calendar' username=username month=next_month %}"> Next Month </a>
    </div>
    {{ calendar }}
{% endblock %}
</body>
</html>