<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Edit Profile</title>
</head>
<body class="bg-light">
{% if supervisor %}
    {% include "nav_bars/supervisor_nav_bar.html" %}
{% else %}
    {% include "nav_bars/logged_in_nav_bar.html" %}
{% endif %}
<div class="container">
    <div class="py-5 text-center">
        <h1 id="formTitle">Edit Doctor's profile</h1>
    </div>
    <div class="col-md-7 col-lg-8" style="margin-left: auto; margin-right: 100px">
        <form class="row g-3" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-5">
                    <label class="form-label"> {{ field.label }} </label>
                    {{ field }}
                </div>
            {% endfor %}
            <ul class="row" style="margin-left: 15px">
                <li class="col-5">Password must contain at least 8 characters</li>
                <li class="col-5">Password should not include user's info</li>
                <li class="col-5">Password should not be common</li>
                <li class="col-5">Password should not be entirely numeric</li>
            </ul>
            <div>
                <br>
                <button type="submit" class="btn btn-primary">Edit Profile</button>
            </div>
            <hr>
        </form>
    </div>
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>

<script>

    var doctorCheck = document.getElementById("id_is_doctor")
    doctorCheck.style.display = "none"
    document.getElementById("id_security_question").placeholder = "What was the name of your favorite teacher?"
    document.getElementById("id_birthday").type = "date"
    document.getElementById("id_gender").className = "form-select"
    var labels = document.getElementsByTagName('label');
    for (let i = 0; i < labels.length; i++) {
        if (labels[i].innerText.includes("Is doctor")) {
            labels[i].parentElement.style.display = "none";
            break
        }
    }
    var inputs = document.getElementsByTagName('input');
    for (let i = 0; i < inputs.length; i++) {
        inputs[i].className = "form-control";
    }
    document.getElementById("photo-clear_id").className = ""
    if (window.location.toString().includes("doctor")) {
        document.getElementById("id_specialization").className = "form-select"
        document.getElementById("formTitle").innerText = "Register Doctor"
        document.getElementById("doctorSignup").innerText = "Are you a patient?"
        document.getElementById("singupLink").href = "/register/patient"
        document.getElementById("singupLink").innerText = "Sign Up here"
        doctorCheck.checked = true
    } else {
        document.getElementById("id_security_question").parentElement.className = "form-group"
        document.getElementById("id_security_question").parentElement.style.width = "83%"
        document.getElementById("id_security_question").className = "form-control"
    }

</script>