<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

    <style>
        body {
            background-color: #eee
        }

        .team-button button {
            font-size: 12px;
            width: 180px;
            height: 40px
        }

        .team-projects span {
            font-size: 12px;
            width: 250px;
            height: 40px;
            border: 1px solid #d4d2d2;
            background-color: #eee;
            border-radius: 4px;
            padding: 10px 23px;
        }
    </style>
    <title>Doctor</title>
</head>
<body>
{% if supervisor %}
    {% include "nav_bars/supervisor_nav_bar.html" %}
{% elif request.user.is_authenticated %}
    {% include "nav_bars/logged_in_nav_bar.html" %}
{% else %}
    {% include "nav_bars/logged_out_nav_bar.html" %}
{% endif %}
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="card mb-5" style="width: 40rem;">
        <div class="p-2">
            <div class="d-flex flex-row ml-5 mt-4">
                {% if doctor.photo %}
                    <img class="rounded-circle" src="{{ doctor.photo.url }}" width="80" height="80" alt="PP">
                {% else %}
                    <img src="../../media/default_pic.jpg" class="rounded-circle" width="70" alt="Default PP">
                {% endif %}
                <div class="d-flex flex-column ml-5 mt-4"><span
                        style="font-weight: bold; font-size: 22px">Doctor Profile: Dr. {{ doctor.first_name }} {{ doctor.last_name }}</span>
                </div>


            </div>
            <div class="mt-4"><span class="ml-2" style="font-weight: bold">Doctor's Schedule</span>
                <div class="mt-2 team-button d-flex justify-content-between px-2">
                    <a href="{% url 'EHMSAPP:calendar' username=doctor.username month=month %}">
                        <button class="btn btn-primary ml-1">Check Schedule</button>
                    </a>
                </div>
            </div>
            <div class="mt-4"><span class="ml-2" style="font-weight: bold">Specialization</span>
                <div class="mt-3 team-projects d-flex justify-content-between px-2">
                    <span>{{ doctor.specialization }}</span></div>
            </div>
        </div>
        <div class=" mt-3 mb-3"><span class="ml-2 mb-3" style="font-weight: bold">Personal Information</span>
            <hr class="m-0 mt-1">
        </div>
        <div class="d-flex flex-row justify-content-between px-3">
            <div class="d-flex flex-column ml-2"><span>Phone</span>
                <div class="mt-2 team-projects d-flex justify-content-between px-0">
                    <span>{{ doctor.phone_number }}</span></div>
            </div>
            <div class="d-flex flex-column ml-2"><span>Email</span>
                <div class="mt-2 team-projects d-flex justify-content-between px-0"><span>{{ doctor.email }}</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between px-3 mb-3 mt-3">
            <div class="d-flex flex-column ml-2"><span>City</span>
                <div class="mt-2 team-projects d-flex justify-content-between px-0"><span>{{ doctor.city }}</span></div>
            </div>
            <div class="d-flex flex-column ml-2"><span>Address</span>
                <div class="mt-2 team-projects d-flex justify-content-between px-0"><span>{{ doctor.address }}</span>
                </div>
            </div>
        </div>
        {% if flag %}
            <div class="mt-4 mb-3"><span class="ml-3" style="font-weight: bold">Edit Profile</span>
            <div class="mt-2 team-button d-flex justify-content-between px-3">
                <a href="{% url 'EHMSAPP:edit_doc' doctor.username %}">
                    <button class="btn btn-primary ml-1">Edit</button>
                </a>
            </div>
            <div class="mt-2 team-button d-flex justify-content-between px-3">
                <a href="{% url 'EHMSAPP:delete_doc' doctor.username %}">
                    <button class="btn btn-primary ml-1">Delete</button>
                </a>
            </div>
        {% endif %}
        {% if request.user.is_authenticated and not is_doctor %}
            <div class="mt-4 mb-3"><span class="ml-3"
                                         style="font-weight: bold">Schedule a meeting with Dr. {{ doctor.first_name }} {{ doctor.last_name }} </span>
                <div class="mt-2 team-button d-flex justify-content-between px-3"><a
                        href="{% url 'EHMSAPP:add_appointment' doctor.username %}">
                    <button class="btn btn-primary ml-1">Click to Schedule</button>
                </a></div>
            </div>
        {% endif %}
        </div>

    </div>
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>