<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Add Prescription</title>
</head>
<body class="bg-light">
{% if supervisor %}
    {% include "nav_bars/supervisor_nav_bar.html" %}
{% else %}
    {% include "nav_bars/logged_in_nav_bar.html" %}
{% endif %}
<div class="container">
    <div class="py-5 text-center">
        <h1>Fill Prescription</h1>
    </div>
    <div class="col-md-7 col-lg-8" style="margin-left: 480px; margin-right: 500px">
        <form method="POST">
            {% csrf_token %}
            <div class="col-md-5" style="margin-bottom: 10px">
                <strong>Recommended by doctor </strong>
                <strong>{{ form.doctor }}</strong>
            </div>
            <div class="col-md-5" id="patientDiv" style="margin-bottom: 10px">
                <strong>{{ form.patient }}</strong>
            </div>
            <div class="col-md-5">
                <label class="form-label"><strong> {{ form.date.label }}</strong></label>
                {{ form.date }}
            </div>
            <div class="col-md-5">
                <label class="form-label"> <strong>{{ form.description.label }}</strong> </label>
                {{ form.description }}
            </div>

            <div>
                <br>
                <a href="/patient/{{username}}/appointments"><button type="button" class="btn btn-secondary mb-5">Cancel</button></a>
                <button type="submit" class="btn btn-primary mb-5">Submit</button>
            </div>
        </form>
    </div>
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>

<script>
    document.getElementById("id_doctor").className = "form-select"
    document.getElementById("id_patient").className = "form-select"
    document.getElementById("id_patient").style.width = "360px"
    document.getElementById("id_date").type = "date"
    var inputs = document.getElementsByTagName('input');
    for (let i = 0; i < inputs.length; i++) {
        inputs[i].className = "form-control";
    }
    if ("{{supervisor}}" === "False") {
        document.getElementById("patientDiv").style.display = "none"
        document.getElementById("id_patient").value = "{{request.user.id}}"
    }
</script>