<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Appointments</title>
</head>
<body>
{% include "nav_bars/logged_in_nav_bar.html" %}
<div class="p-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Patient</th>
            <th scope="col">Doctor</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Meeting Link</th>
            <th scope="col">Payment</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.patient }}</td>
                <td>{{ appointment.doctor }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
                <td><a href="//{{ appointment.meeting_link }}">{{ appointment.meeting_link }}</a></td>
                <td><a href="appointments/{{ appointment.pk }}/pay">
                    <button class="btn btn-primary">Pay</button>
                </a></td>
                <td><a href="appointments/{{ appointment.pk }}/edit">
                    <button class="btn btn-primary">Edit</button>
                </a></td>
                <td><a href="appointments/{{ appointment.pk }}/delete">
                    <i class="bi bi-file-x"></i>
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/patient/{{ request.user.username }}/addappointment">
        <button class="btn btn-primary">Book Appointment</button>
    </a>
</div>
</body>
<footer>
    {% include "nav_bars/footer.html" %}
</footer>
</html>