<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Payment</title>
</head>
<body>
{% include "nav_bars/logged_in_nav_bar.html" %}
<div class="text-center mt-5 mb-5">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
                <div id="pay-invoice" class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center"><h2>Paying for Appointment</h2>
                                <br>With: Dr. {{ appointment.doctor.username }} on {{ appointment.date }}
                                at {{ appointment.time }}</h3>
                        </div>
                        <hr>
                        <form action="" method="post" novalidate="novalidate" class="needs-validation">


                            <div class="form-group">
                                <label for="cc-number" class="control-label mb-1">Card number</label>
                                <input id="cc-number" placeholder="0000 0000 0000 0000" name="cc-number" type="tel"
                                       class="form-control cc-number identified visa" required autocomplete="off">
                                <span class="invalid-feedback">Enter a valid 12 to 16 digit card number</span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                        <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" required
                                               placeholder="MM / YY" autocomplete="cc-exp">
                                        <span class="invalid-feedback">Enter the expiration date</span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="x_card_code" class="control-label mb-1">CVV</label>
                                    <div class="input-group">
                                        <input id="x_card_code" name="x_card_code" type="tel"
                                               class="form-control cc-cvc" required autocomplete="off">
                                        <span class="invalid-feedback order-last">Enter the 3-digit code on back</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="x_name" class="control-label mb-1">Name</label>
                                <input id="x_name" name="x_prom" type="text" class="form-control"
                                       value="{{ request.user.get_full_name }}"
                                       data-val="true" data-val-required="Please enter your name">
                                <span class="help-block" data-valmsg-for="x_name"
                                      data-valmsg-replace="true"></span>
                            </div>
                            <br>
                            <div>
                                <button id="payment-button" type="button" class="btn btn-primary">
                                    <span id="payment-button-amount">Pay</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "nav_bars/footer.html" %}
</body>
</html>