<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Prescriptions</title>
</head>
<body>
{% include "nav_bars/logged_in_nav_bar.html" %}
<div class="p-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Patient</th>
            <th scope="col">Doctor</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for prescription in prescriptions %}
            <tr>
                <td>{{ prescription.patient }}</td>
                <td>{{ prescription.doctor }}</td>
                <td>{{ prescription.date }}</td>
                <td>{{ prescription.description }}</td>
                <td><a href="prescriptions/{{ prescription.pk }}/delete">
                    <i class="bi bi-file-x"></i>
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
<footer>
    {% include "nav_bars/footer.html" %}
</footer>
</html>