<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">

    <style>
        body {
            background-color: #eee
        }

        .team-button button {
            font-size: 12px;
            width: 180px;
            height: 40px
        }

        .team-projects span {
            font-size: 12px;
            width: 250px;
            height: 40px;
            border: 1px solid #d4d2d2;
            background-color: #eee;
            border-radius: 4px;
            padding: 10px 23px;
        }
    </style>
    <title>Patient</title>
</head>
<body>
{% if supervisor %}
    {% include "nav_bars/supervisor_nav_bar.html" %}
{% else %}
    {% include "nav_bars/logged_in_nav_bar.html" %}
{% endif %}
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="card mb-5" style="width: 40rem;">
        <div class="p-2">
            <div class="d-flex flex-row ml-5 mt-4">
                {% if patient.photo %}
                    <img class="rounded-circle" src="{{ patient.photo.url }}" width="80" height="80" alt="PP">
                {% else %}
                    <img src="../../media/default_pic.jpg" class="rounded-circle" width="70" alt="Default PP">
                {% endif %}
                <div class="d-flex flex-column ml-5 mt-4"><span
                        style="font-weight: bold; font-size: 25px">Patient Profile: {{ patient.first_name }} {{ patient.last_name }}</span>
                </div>
            </div>
            <div class="mt-4"><span class="ml-2" style="font-weight: bold">Birth Date</span>
                <div class="mt-3 team-projects d-flex justify-content-between px-2"><span>{{ patient.birthday }}</span>
                </div>
            </div>
        </div>
        <div class=" mt-3 mb-3"><span class="ml-2 mb-3" style="font-weight: bold">Personal Information</span>
            <hr class="m-0 mt-1">
        </div>
        <div class="d-flex flex-row justify-content-between px-3">
            <div class="d-flex flex-column ml-2"><span>Phone</span>
                <div class="mt-2 team-projects d-flex justify-content-between px-0">
                    <span>{{ patient.phone_number }}</span></div>
            </div>
            <div class="d-flex flex-column ml-2"><span>Email</span>
                <div class="mt-2 team-projects d-flex justify-content-between"><span>{{ patient.email }}</span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between px-3 mb-3 mt-3">
            <div class="d-flex flex-column ml-2"><span>Allergies</span>
                <div class="mt-2 team-projects d-flex justify-content-between px-0"><span>{{ patient.allergies }}</span>
                </div>
            </div>
            <div class="d-flex flex-column ml-2"><span>Medical Issues</span>
                <div class="mt-2 team-projects d-flex justify-content-between px-0">
                    <span>{{ patient.medical_issues }}</span></div>
            </div>
        </div>
        <div class="mt-4 mb-3"><span class="ml-3" style="font-weight: bold">Edit Profile</span>
            <div class="mt-2 team-button d-flex justify-content-between px-3">
                <a href="{% url 'EHMSAPP:edit_profile' patient.username %}">
                    <button class="btn btn-primary ml-1">Edit</button>
                </a>
            </div>
            <div class="mt-2 team-button d-flex justify-content-between px-3">
                <a href="{% url 'EHMSAPP:delete_profile' patient.username %}">
                    <button class="btn btn-primary ml-1">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>