<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: forestgreen">EHMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/doctors">Our Doctors</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_doctor %}
                        <a class="nav-link active" aria-current="page" href="/doctor/{{ request.user.username }}">My
                            Profile</a>
                    {% else %}
                        <a class="nav-link active" aria-current="page" href="/patient/{{ request.user.username }}">My
                            Profile</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.user.is_doctor %}
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'EHMSAPP:calendar' username=request.user.username month="2021-4" %}">Appointments</a>
                    {% else %}
                        <a class="nav-link active" aria-current="page"
                           href="/patient/{{ request.user.username }}/appointments">Appointments</a>
                    {% endif %}
                </li>
                {% if not request.user.is_doctor %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/patient/{{ request.user.username }}/prescriptions">Prescriptions</a>
                    </li>
                {% endif %}
            </ul>
            <a class="nav-link active" href="/logout">
                <button class="btn btn-outline-success" type="submit">Logout</button>
            </a>
        </div>
    </div>
</nav>