<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <style>

        .X {
            margin: auto;
            padding: 1% 2%;
            max-width: 1440px;
            border-radius: 5px;
            background: #ecf0f1;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
        }

        h1, h2, h3 {
            text-align: center;
            font-family: 'Arial', sans-serif;
        }


        /*SG = style grid*/
        .SG {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .SG .sgLi {
            min-width: 24%;
            margin: 2% .35%;
            display: inline-flex;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        }

        .SG .sgLi:hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
        }

        .SG .box {
            width: 100%;
            height: 100vh;
            padding: 4% 2%;
            background: #fff;
            min-height: 200px;
            max-height: 220px;
            box-sizing: border-box;
        }
    </style>
    <title>Doctors</title>
</head>
<body>
{% if supervisor %}
    {% include "nav_bars/supervisor_nav_bar.html" %}
{% elif request.user.is_authenticated %}
    {% include "nav_bars/logged_in_nav_bar.html" %}
{% else %}
    {% include "nav_bars/logged_out_nav_bar.html" %}
{% endif %}
<div class="X">
    <ul class="SG">
        <form id="filterForm" method="post">
            {% for field in form %}
                {% csrf_token %}
                <label class="form-label"> {{ field.label }} </label>
                {{ field }}
            {% endfor %}
            <button class="btn btn-outline-success">Submit</button>
        </form>
        {% for doctor in doctors %}
            <li class="sgLi">
                <div class="box">
                    <h4>Dr. {{ doctor.first_name }} {{ doctor.last_name }}</h4>
                    <h5 style="color: silver">{{ doctor.specialization }}</h5>
                    <div style="padding-top: 4%;">
                        {% if doctor.photo %}
                            <img class="rounded-circle" src="{{ doctor.photo.url }}" width="80" height="80" alt="PP">
                        {% else %}
                            <img src="../../media/default_pic.jpg" class="rounded-circle" width="70" alt="Default PP">
                        {% endif %}
                        <a href="{% url 'EHMSAPP:doctor_profile' doctor.username %}">
                            <button class="btn btn-primary ml-1">View Doctor's Profile</button>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>
<script>
    document.getElementById("id_specialization").className = "form-select"
    document.getElementById("id_specialization").style.width = "200px"
    document.getElementById("id_specialization").style.display = "inline"
</script>