<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Forgot Password</title>
</head>
<body>
{% include "nav_bars/logged_out_nav_bar.html" %}
<div class="container mb-5">
    <div class="py-5 text-center">
        <h1>Forgot Password</h1>
    </div>
    <div class="col-md-7 col-lg-8" style="margin-left: 480px; margin-right: 500px">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-5">
                    <label class="form-label"> {{ field.label }} </label>
                    {{ field }}
                </div>
            {% endfor %}
            <div>
                <br>
                <button type="submit" class="btn btn-primary mb-5">Submit</button>
            </div>
        </form>
    </div>
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>
<script>
    {% if changed %}
        alert("Password reset to: default")
        window.location.href = '/login';
    {% endif %}
    var inputs = document.getElementsByTagName('input');
    document.getElementById("id_security_question").placeholder = "What was the name of your favorite teacher?"
    for (let i = 0; i < inputs.length; i++) {
        inputs[i].className = "form-control";
    }
</script>