<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
{% if supervisor %}
    {% include "nav_bars/supervisor_nav_bar.html" %}
{% elif request.user.is_authenticated %}
    {% include "nav_bars/logged_in_nav_bar.html" %}
{% else %}
    {% include "nav_bars/logged_out_nav_bar.html" %}
{% endif %}
<div class="tex-center ml-3 p-3">
    <h1 style="color: forestgreen; text-align: center">E-Healthcare Management System</h1>
    <h3 style="text-align: center">Our lives dedicated to yours</h3>
    <img class="rounded mx-auto d-block" width="500" height="500" src="../media/home.gif" alt="home">
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>