<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Login</title>
</head>
<body class="bg-light">
{% include "nav_bars/logged_out_nav_bar.html" %}
<div class="container">
    <div class="py-5 text-center">
        <h1>Login</h1>
    </div>
    <div class="col-md-7 col-lg-8" style="margin-left: 480px; margin-right: 500px">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="col-md-5">
                    <label class="form-label"> {{ field.label }} </label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class=""><a href="/forgot_password">Forgot Password </a></div>
            <div>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <hr style="width: 370px">
            <div class="mb-5"><span>Don’t have an account? </span> <a href="/register/patient"> Sign Up </a></div>
        </form>
    </div>
</div>
{% include "nav_bars/footer.html" %}
</body>
</html>

<script>
    var inputs = document.getElementsByTagName('input');
    for (let i = 0; i < inputs.length; i++) {
        inputs[i].className = "form-control";
    }
</script>